<!doctype html>
<html lang="en">

<head>
<title> KevShoe Starcraft</title>

</head>

<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">SC2 Sentiment</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{% url "replay-upload" %}">Home</a>
            <a class="p-2 text-dark" href="#">About</a>
            <a class="p-2 text-dark" href="#">More</a>
        </nav>
        <a class="btn btn-outline-primary" href="#">Contact</a>
    </div>
{% block content%}
replace me
{% endblock %}

	</body>


</html>