{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <style>
        .ButtonDiv {
            text-align: center;
        }

        .inline-block {
            display: inline-block;
        }

        .hvr-grow-card {
            max-width: 32vw;
            height: 18vw;
            object-fit: contain;
            -webkit-filter: none;
            animation: glowGreen 0.5s alternate;
            animation-play-state: paused;
            animation-iteration-count: 2;
            transition: ease-in-out;
            transition-duration: 0.3s;
            transition-property: transform;
        }

        .hvr-grow-card:hover {
            filter: drop-shadow(0px 0px 15px blue);
            transform: scale(1.1);

        }

        .hvr-grow {
            display: inline-block;
            vertical-align: middle;
            transform: translateZ(0);
            width: 32vw;
            height: 18vw;
            background-size: cover;
            object-fit: scale-down;
            -webkit-filter: none;
            animation: glowGreen 0.5s alternate;
            animation-iteration-count: 2;
            backface-visibility: hidden;
            transition: ease-in-out;
            transition-duration: 0.3s;
            transition-property: transform;
        }

        .hvr-grow:hover {
            animation-play-state: paused;
            filter: drop-shadow(0px 0px 15px blue);
            transform: scale(1.1);

        }

        /*-webkit-filter: drop-shadow(12px 12px -10px #aef4af);*/
        @keyframes glowGreen {
            from {
                -webkit-filter: drop-shadow(0px 0px -15px #068f0f);
                filter: drop-shadow(0px 0px -15px #068f0f);
            }
            to {
                -webkit-filter: drop-shadow(0px 0px 15px #068f0f);
                filter: drop-shadow(0px 0px 15px #068f0f);
            }
        }

        @keyframes glowRed {
            from {
                -webkit-filter: drop-shadow(12px 12px -10px #fa0905);
                filter: drop-shadow(12px 12px -10px #fa0905);
            }
            to {
                -webkit-filter: drop-shadow(12px 12px 10px #fa0905);
                filter: drop-shadow(12px 12px 10px #fa0905);
            }
        }

        @keyframes glowBlue {
            from {
                -webkit-filter: drop-shadow(12px 12px -10px #041cba);
                filter: drop-shadow(12px 12px -10px #041cba);
            }
            to {
                -webkit-filter: drop-shadow(12px 12px 10px #041cba);
                filter: drop-shadow(12px 12px 10px #041cba);
            }
        }

        .fadeUpArrow {
            width: 32vw;
            height: 3vw;
            object-fit: scale-down;
            filter: invert(59%) sepia(47%) saturate(631%) hue-rotate(63deg) brightness(93%) contrast(88%);
            animation: fadeOut ease 1s;
            animation-fill-mode: forwards;
            -webkit-animation: fadeOut ease 1s;
            -webkit-animation-fill-mode: forwards;
            -moz-animation: fadeOut ease 1s;
            -moz-animation-fill-mode: forwards;
            -o-animation: fadeOut ease 1s;
            -o-animation-fill-mode: forwards;
        }

        .fadeDownArrow {
            width: 32vw;
            height: 3vw;
            object-fit: scale-down;
            filter: invert(32%) sepia(35%) saturate(2084%) hue-rotate(327deg) brightness(91%) contrast(88%);
            animation: fadeOut ease 1s;
            animation-fill-mode: forwards;
            -webkit-animation: fadeOut ease 1s;
            -webkit-animation-fill-mode: forwards;
            -moz-animation: fadeOut ease 1s;
            -moz-animation-fill-mode: forwards;
            -o-animation: fadeOut ease 1s;
            -o-animation-fill-mode: forwards;
        }

        @keyframes fadeOut {
            0% {
                opacity: 1;
                transform: scale(1);
            }
            100% {
                opacity: 0;
                transform: scale(0.5);
            }
        }

        @-moz-keyframes fadeOut {
            0% {
                opacity: 1;
                transform: scale(1);
            }
            100% {
                opacity: 0;
                transform: scale(0.5);
            }
        }

        @-webkit-keyframes fadeOut {
            0% {
                opacity: 1;
                transform: scale(1);
            }
            100% {
                opacity: 0;
                transform: scale(0.5);
            }
        }

        @-o-keyframes fadeOut {
            0% {
                opacity: 1;
                transform: scale(1);
            }
            100% {
                opacity: 0;
                transform: scale(0.5);
            }
        }


    </style>



    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Starcraft 2 Sentiment</h1>
        <p class="lead">
            Determining the angriest and friendliest players in Starcraft through mass sentiment analysis of replay
            in-game messages.
        </p>
    </div>
    &nbsp;&nbsp;
    <div class="card-deck mb-3 text-center " style="width: 90vw;margin-left: 5vw">
        <div class="card mb-4 shadow-sm d-flex ">
            <div class="card-header">
                <h4 class="card-title pricing-card-title">Terran</h4>
            </div>
            <div class="card-body">
                {% load static %}
                <img class="hvr-grow-card" src="{% static "images/terran.png" %}" alt="Terran">
            </div>
            <div class="card-footer">
                <div class="container">
                    <div class="row justify-content-center" style="align-items: center">
                        <div class="col-3">
                            {% if terran < protoss and terran < zerg %}
                                {% load static %}
                                <img src="{% static "images/salt.gif" %}" alt="salt"
                                     style="width:100%">
                            {% endif %}
                        </div>
                        <div class="col-6">
                            <h1 class="display-4 font-weight-bold text-center">{{ terran }}</h1>
                        </div>
                        <div class="col-3">
                            <div class="col">
                                {% load static %}
                                <img class="fadeUpArrow" src="{% static "images/upwardsArrow.png" %}" alt="upArrow"
                                     style="width:100%">
                            </div>
                            <div class="col">
                                {% load static %}
                                <img class="fadeDownArrow" src="{% static "images/downwardsArrow.png" %}"
                                     alt="downArrow" style="width:100%">
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="card-title pricing-card-title">Zerg</h4>
            </div>
            <div class="card-body">
                {% load static %}
                <img class=hvr-grow-card src="{% static "images/zerg.png" %}" alt="Zerg">
            </div>
            <div class="card-footer">
                <div class="container">
                    <div class="row" style="align-items: center">
                        <div class="col-3">
                            {% if zerg < terran and zerg < protoss %}
                                {% load static %}
                                <img src="{% static "images/salt.gif" %}" alt="salt"
                                     style="width:100%">
                            {% endif %}
                        </div>
                        <div class="col-6">
                            <h1 class="display-4 font-weight-bold text-center">{{ zerg }}</h1>
                        </div>
                        <div class="col-3">
                            <div class="col">
                                {% load static %}
                                <img class="fadeUpArrow" src="{% static "images/upwardsArrow.png" %}" alt="upArrow"
                                     style="width:100%">
                            </div>
                            <div class="col">
                                {% load static %}
                                <img class="fadeDownArrow" src="{% static "images/downwardsArrow.png" %}"
                                     alt="downArrow" style="width:100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="card-title pricing-card-title">Protoss</h4>
            </div>
            <div class="card-body">
                {% load static %}
                <img class=hvr-grow-card src="{% static "images/protoss.png" %}" alt="Protoss">
            </div>
            <div class="card-footer">
                <div class="container">
                    <div class="row" style="align-items: center">
                        <div class="col-3">
                            {% if protoss < terran and protoss < zerg %}
                                {% load static %}
                                <img src="{% static "images/salt.gif" %}" alt="salt"
                                     style="width:100%">
                            {% endif %}
                        </div>
                        <div class="col-6">
                            <h1 class="display-4 font-weight-bold text-center">{{ protoss }}</h1>
                        </div>
                        <div class="col-3">
                            <div class="col">
                                {% load static %}
                                <img class="fadeUpArrow" src="{% static "images/upwardsArrow.png" %}" alt="upArrow"
                                     style="width:100%">
                            </div>
                            <div class="col">
                                {% load static %}
                                <img class="fadeDownArrow" src="{% static "images/downwardsArrow.png" %}"
                                     alt="downArrow" style="width:100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center" style="padding-bottom: 2vw">
        <p class="h4">
            Lower numbers indicate negative attitudes while higher numbers indicate positive attitudes
        </p>
    </div>

    <div class="bg-white border-bottom shadow-sm " style=" box-shadow: 0 4px 2px -2px gray;">
        <h3 class="my-0 mr-md-auto font-weight-bold">&nbsp;&nbsp;&nbsp;&nbsp;Recent Negative Messages</h3>
    </div>

    <div style="padding: 0.5vw"></div>
    <div class="jumbotron">
        <div id="quoteCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for i in curMessages %}
                    {% if forloop.counter == 1 %}
                        <div class="carousel-item active">
                            <div class="text-center">
                                <p class="h4">
                                    {{ i | safe }}
                                </p>

                            </div>
                        </div>
                    {% else %}
                        <div class="carousel-item">
                            <div class="text-center">
                                <p class="h4">
                                    {{ i | safe }}
                                </p>

                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#quoteCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#quoteCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="bg-white border-bottom shadow-sm " style=" box-shadow: 0 4px 2px -2px gray;">
        <h3 class="my-0 mr-md-auto font-weight-bold">&nbsp;&nbsp;&nbsp;&nbsp;How You Can Help</h3>
        <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Upload your own Starcraft replays to expand our database of
            messages</p>
    </div>

    <!--<div id="upArrow">
        <div class="inline-block">
            {% load static %}
            <img class="fadeUpArrow" src="{% static "images/upwardsArrow.png" %}" alt="upArrow">
        </div>
        <div class="inline-block">
            {% load static %}
            <img class="fadeUpArrow" src="{% static "images/upwardsArrow.png" %}" alt="upArrow">
        </div>
        <div class="inline-block">
            {% load static %}
            <img class="fadeUpArrow" src="{% static "images/upwardsArrow.png" %}" alt="upArrow">
        </div>
    </div>



    <div id="banner">
        <div class="inline-block">
            {% load static %}
            <img class=hvr-grow src="{% static "images/terran.png" %}" alt="Terran">
        </div>

        <div class="inline-block">
            {% load static %}
            <img class=hvr-grow src="{% static "images/zerg.png" %}" alt="Zerg">
        </div>

        <div class="inline-block">
            {% load static %}
            <img class=hvr-grow src="{% static "images/protoss.png" %}" alt="Protoss">
        </div>
    </div>

    <div id="downArrow">
        <div class="inline-block">
            {% load static %}
            <img class="fadeDownArrow" src="{% static "images/downwardsArrow.png" %}" alt="downArrow">
        </div>
        <div class="inline-block">
            {% load static %}
            <img class="fadeDownArrow" src="{% static "images/downwardsArrow.png" %}" alt="downArrow">
        </div>
        <div class="inline-block">
            {% load static %}
            <img class="fadeDownArrow" src="{% static "images/downwardsArrow.png" %}" alt="downArrow">
        </div>
    </div>
    -->
    <div id="formHolder" class="jumbotron"
         style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
        <form id="uploadForm" action='.' method='post' enctype="multipart/form-data">
            {% csrf_token %}
            <div id="fileDiv" class="form-group font-weight-bold h5">
                {{ form.replay_file }}
                <!--<label class="custom-file-label" for="customFile">Choose Replay File...</label>-->
            </div>
            <input type="submit" class="btn btn-outline-primary" value="Upload">
        </form>
        <div id="successAlert" class="alert alert-success" style="visibility: hidden">
            <strong>Success!</strong> You uploaded your replays
        </div>
        <div id="dangerAlert" class="alert alert-danger" style="visibility:hidden;">
            <strong>Danger!</strong> Your upload failed. Please check that you uploaded a proper replay
        </div>

    </div>



    <div class="ButtonDiv" style="padding-top: 1vw">
        &nbsp;&nbsp;
        <form id="clickTest" method="post" action=".">{% csrf_token %}
            <input type="submit" class="btn btn-outline-primary" value="Click" name="process_btn">
        </form>
    </div>


    <script>
        var csrfCurrent = {{csrf_token}}
            $("#uploadForm").submit(function (e) {
                e.preventDefault();
                $.ajax({
                    headers: {'X-CSRFToken': csrfCurrent},
                    type: 'POST',
                    url: '{% url "replay-upload" %}',
                    data: $(this).serialize(),
                    success: function (data) {
                        console.log("Success: " + data)
                        $("#dangerAlert").style.visibility = "hidden";
                        $("#successAlert").style.visibility = "visible";
                    },
                    error: function (data) {
                        console.log("Failed: " + data)
                        $("#successAlert").style.visibility = "hidden";
                        $("#dangerAlert").style.visibility = "visible";
                    }
                });
            });


    </script>


{% endblock %}