{% extends 'base.html' %}


{% block content %}

    <style>
        .ButtonDiv {
            border: 5px outset red;
            background-color: lightblue;
            text-align: center;
        }

        .inline-block {
            display: inline-block;
        }

        .hvr-grow {
            display: inline-block;
            vertical-align: middle;
            transform: translateZ(0);
            width: 32vw;
            height: 18vw;
            background-size: cover;
            object-fit: scale-down;
            -webkit-filter: none;
            animation: glowGreen 0.5s alternate;
            animation-iteration-count: 2;
            backface-visibility: hidden;
            transition: ease-in-out;
            transition-duration: 0.3s;
            transition-property: transform;
        }

        .hvr-grow:hover {
            animation-play-state: paused;
            filter: drop-shadow(0px 0px 15px blue);
            transform: scale(1.1);

        }

        /*-webkit-filter: drop-shadow(12px 12px -10px #aef4af);*/
        @keyframes glowGreen {
            from {
                -webkit-filter: drop-shadow(0px 0px -15px #068f0f);
                filter: drop-shadow(0px 0px -15px #068f0f);
            }
            to {
                -webkit-filter: drop-shadow(0px 0px 15px #068f0f);
                filter: drop-shadow(0px 0px 15px #068f0f);
            }
        }

        @keyframes glowRed {
            from {
                -webkit-filter: drop-shadow(12px 12px -10px #fa0905);
                filter: drop-shadow(12px 12px -10px #fa0905);
            }
            to {
                -webkit-filter: drop-shadow(12px 12px 10px #fa0905);
                filter: drop-shadow(12px 12px 10px #fa0905);
            }
        }

        @keyframes glowBlue {
            from {
                -webkit-filter: drop-shadow(12px 12px -10px #041cba);
                filter: drop-shadow(12px 12px -10px #041cba);
            }
            to {
                -webkit-filter: drop-shadow(12px 12px 10px #041cba);
                filter: drop-shadow(12px 12px 10px #041cba);
            }
        }

        .fadeUpArrow {
            width: 32vw;
            height: 3vw;
            object-fit: scale-down;
            filter: invert(59%) sepia(47%) saturate(631%) hue-rotate(63deg) brightness(93%) contrast(88%);
            animation: fadeOut ease 1s;
            animation-fill-mode: forwards;
            -webkit-animation: fadeOut ease 1s;
            -moz-animation: fadeOut ease 1s;
            -o-animation: fadeOut ease 1s;
            -ms-animation: fadeOut ease 1s;
        }

        .fadeDownArrow {
            width: 32vw;
            height: 4vw;
            object-fit: scale-down;
            filter: invert(32%) sepia(35%) saturate(2084%) hue-rotate(327deg) brightness(91%) contrast(88%);
            animation: fadeOut ease 1s;
            animation-fill-mode: forwards;
            -webkit-animation: fadeOut ease 1s;
            -moz-animation: fadeOut ease 1s;
            -o-animation: fadeOut ease 1s;
            -ms-animation: fadeOut ease 1s;
        }

        @keyframes fadeOut {
            0% {
                opacity: 1;
                transform: scale(1);
            }
            100% {
                opacity: 0;
                transform: scale(0);
            }
        }

        @-moz-keyframes fadeOut {
            0% {
                opacity: 1;
                transform: scale(1);
            }
            100% {
                opacity: 0;
                transform: scale(0);
            }
        }

        @-webkit-keyframes fadeOut {
            0% {
                opacity: 1;
                transform: scale(1);
            }
            100% {
                opacity: 0;
                transform: scale(0);
            }
        }

        @-o-keyframes fadeOut {
            0% {
                opacity: 1;
                transform: scale(1);
            }
            100% {
                opacity: 0;
                transform: scale(0);
            }
        }

        @-ms-keyframes fadeOut {
            0% {
                opacity: 1;
                transform: scale(1);
            }
            100% {
                opacity: 0;
                transform: scale(0);
            }
        }


    </style>


    <div class="ButtonDiv">
        <h2>This is a heading</h2>
        <form action='.' method='post' enctype="multipart/form-data"> {% csrf_token %}

            {{ form.as_p }}
            <input type='submit' value='Upload'/>

        </form>
        &nbsp;&nbsp;
        <form method="post" action=".">{% csrf_token %}
            <input type="submit" class="btn" value="Click" name="process_btn">
        </form>
    </div>

    &nbsp;&nbsp;

    <div id="upArrow">
        <div class="inline-block">
            {% load static %}
            <img class="fadeUpArrow" src="{% static "images/upwardsArrow.png" %}" alt="upArrow">
        </div>
        <div class="inline-block">
            {% load static %}
            <img class="fadeUpArrow" src="{% static "images/upwardsArrow.png" %}" alt="upArrow">
        </div>
        <div class="inline-block">
            {% load static %}
            <img class="fadeUpArrow" src="{% static "images/upwardsArrow.png" %}" alt="upArrow">
        </div>
    </div>



    <div id="banner">
        <div class="inline-block">
            {% load static %}
            <img class=hvr-grow src="{% static "images/terran.png" %}" alt="Terran">
        </div>

        <div class="inline-block">
            {% load static %}
            <img class=hvr-grow src="{% static "images/zerg.png" %}" alt="Zerg">
        </div>

        <div class="inline-block">
            {% load static %}
            <img class=hvr-grow src="{% static "images/protoss.png" %}" alt="Protoss">
        </div>
    </div>

    <div id="downArrow">
        <div class="inline-block">
            {% load static %}
            <img class="fadeDownArrow" src="{% static "images/downwardsArrow.png" %}" alt="downArrow">
        </div>
        <div class="inline-block">
            {% load static %}
            <img class="fadeDownArrow" src="{% static "images/downwardsArrow.png" %}" alt="downArrow">
        </div>
        <div class="inline-block">
            {% load static %}
            <img class="fadeDownArrow" src="{% static "images/downwardsArrow.png" %}" alt="downArrow">
        </div>
    </div>

{% endblock %}